@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.carouselContainer {
  margin-top: 35px;
  margin-bottom: 35px;
  position: relative;

  .carouselImage {
    position: relative;
    min-height: 100%;
    background-image: url("/imageback2.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 35px;
    padding: 0 20px 0 0;
    margin-left: 20px;
    margin-right: 20px;


    .coverImage {
      max-width: 209px;
      max-height: 178px;
      width: 100%;
      height: auto;
      cursor: pointer;
      transition: all 0.3s;

      &:nth-child(3) {
        grid-row: span 2;
        max-width: 100%;
        max-height: 290px;
      }

    }
  }

  .carouselImage2 {
    position: relative;
    min-height: 100%;
    background-image: url("/imageback2.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 35px;
    padding: 0 20px 0 0;
    margin-left: 20px;
    margin-right: 20px;

    .imageContainer {
      img {
        min-width: 290px;
      }
    }

    .imageContainer2 {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-items: start;
      justify-content: center;
      gap: 10px;
      position: relative;
      z-index: 500;
      max-width: 100% !important;

      @media (min-width: 768px) {
        grid-template-columns: repeat(3, 1fr);
      }

      .coverImage {
        max-width: 100%;
        max-height: 139px;
        width: 100%;
        height: auto;
        cursor: pointer;
        transition: all 0.3s;

        &:nth-child(1) {
          grid-column: 1; // Первая колонка
          grid-row: 1; // Первая строка
        }

        &:nth-child(2) {
          width: 100%;
          max-height: 290px;
          grid-row: span 2; // Растянуться на две строки
        }

        &:nth-child(3) {
          grid-column: 3; // Третья колонка
          grid-row: 1; // Первая строка
        }

        &:nth-child(4) {
          grid-column: 1; // Первая колонка
          // grid-row: 2; // Вторая строка
        }

        &:nth-child(5) {
          width: 100%;
          max-height: 290px;
          grid-row: span 2;
        }

        &:nth-child(6) {
          grid-column: 2; // Вторая колонка
          grid-row: 3; // Третья строка
        }
      }
    }

    .sliderButtons {
      max-width: 300px;
      position: relative;
      margin: 0 auto;

      @media screen and (max-width: 1096px) {
        max-width: 100%;
      }

      @media (min-width: 768px) {
        margin: 0;
      }

      .sliderArrows {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
      }
    }

    .prevButton,
    .nextButton {
      @include flex-center;
      background-color: #000000;
      border: 1px solid #ffffff;
      opacity: 0.3;
      border-radius: 50%;
      width: 44px;
      height: 44px;
      cursor: pointer;
      font-size: 18px;
      transition: background-color 0.3s, opacity 0.3s;

      @media screen and (max-width: 1096px) {
        width: 35px;
        height: 35px;
      }

      &:hover {
        background-color: #4a4a4a;
        opacity: 0.5;
      }
    }

    .sliderDots {
      display: flex;
      justify-content: center;
      gap: 8px;
      margin-top: 20px;

      @media screen and (max-width: 1096px) {
        margin-top: 10px;
        gap: 5px;
      }
    }

    .dot {
      background: #ffffff;
      opacity: 0.2;
      width: 44px;
      height: 7px;
      cursor: pointer;
      border-radius: 25px;
      transition: opacity 0.3s;

      @media screen and (max-width: 1096px) {
        width: 20px;
        height: 5px;
      }

      &.activeDot {
        opacity: 1;
      }
    }
  }

  .carouselImage3 {
    position: relative;
    height: 626px;
    background-image: url("/imageback2.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    // padding: 0 20px 0 0;
    top: 100px;

    .imageContaine {
      position: relative;
      height: 380px;
      display: flex;
      justify-content: center;

      img {
        max-width: 315px !important;
        height: 510px;
        position: absolute;
        top: 40%;
        left: 55%;
        transform: translate(-50%, -50%);
      }
    }

    .carousel2 {
      position: relative;
      // margin-left: 20px;
      margin-right: 9px;

      .sliderButton1 {
        display: flex;
        gap: 10px;
      }

      .sliderDots {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 10px;
      }
    }

    .sliderGrid {
      display: grid;
      z-index: 100000;

      @media (min-width: 768px) {
        margin-top: 0;
      }
    }

    .sliderButtons {
      max-width: 100%;
      position: relative;
      margin: 0 auto;
      height: auto;

      .sliderArrows2 {
        position: absolute;
        top: 0;
      }
    }

    .imageContainer6 {
      position: relative;

      .content {
        padding-left: 20px;
        padding-right: 20px;
        position: absolute;
        top: 20px;
        right: 0;
        display: flex;
        flex-direction: column;
        row-gap: 24px;

        h4 {
          color: #fff;
          font-size: 25px;
          font-weight: 500;
          line-height: 29.43px;
          text-align: justified;
          text-underline-position: from-font;
          text-decoration-skip-ink: none;

        }

        p {
          color: #fff;
          font-size: 18px;
          font-weight: 400;
          line-height: 20.88px;
          text-align: left;
          text-underline-position: from-font;
          text-decoration-skip-ink: none;
        }
      }
    }

  }

  .carousel__all {
    position: relative;
    z-index: 50;
    padding-bottom: 28px;
    padding-top: 28px;

    @media screen and (max-width: 761px) {
      padding-bottom: 0;
      padding-top: 0;
    }
  }

  .carousel {
    display: flex;
    text-align: center;

    @media screen and (max-width: 1083px) {
      justify-content: space-between;
      width: 100%;
    }


    @media (min-width: 268px) {
      flex-direction: row;

    }

    .imageContainer {
      position: relative;
      width: 100%;
      max-width: 450px;
      margin: 0 auto;

      img {
        position: relative;
        top: 0;
        left: 0;
        max-width: 100%;
        border-radius: 10px;

        @media (min-width: 768px) {
          position: absolute;
          top: 160px;
          left: 50px;
        }

        @media screen and (max-width: 1320px) {
          top: 0;
        }
      }
    }
  }

  .roles__content2 {
    .roles__content_back {
      color: #000;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 30px;
      margin-bottom: 30px;
      padding-left: 20px;
      padding-right: 20px;

      @media (min-width: 768px) {
        align-items: flex-end;
        text-align: right;
        padding-top: 60px;

      }

      @media screen and (max-width: 760px) {
        padding-top: 0;
        align-items: flex-start;
        text-align: start;
        // margin-bottom: 70px;

      }

      h1 {
        font-size: 38px;
        font-weight: 500;
        line-height: 44.73px;
        text-align: start;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        padding-bottom: 25px;

      }

      p {
        max-width: 419px;
        opacity: 80%;
        font-size: 13px;
        font-weight: 500;
        line-height: 17.29px;
        text-align: start;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;

      }
    }

    .imageContainer {
      position: relative;
      width: 100%;
      max-width: 315px;
      margin: 0 auto;

      img {
        position: absolute;
        top: -140px;
        left: 30px;
        max-width: 100%;
        border-radius: 10px;
      }
    }
  }

  .roles__content_back {
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 30px;

    @media (min-width: 768px) {
      align-items: flex-end;
      text-align: right;
      padding-top: 60px;
    }

    h1 {
      font-size: 30px;
      font-weight: 500;
      line-height: 1.2;
      text-transform: uppercase;
      padding-bottom: 67px;

      @media (min-width: 768px) {
        font-size: 50px;
        line-height: 58.85px;
        padding-right: 40px;
        margin-bottom: 0;
      }
    }

    p {
      max-width: 572px;
      opacity: 80%;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.4;

      @media (min-width: 768px) {
        font-size: 20px;
        line-height: 23.2px;
        text-align: right;
      }
    }
  }



  .imageContainer2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: end;
    gap: 20px;
    position: relative;
    z-index: 500;

    @media (min-width: 768px) {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  @media screen and (max-width: 1077px) {
    .imageContainer2 {
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
  }

  .coverImage {
    width: 100%;
    max-width: 161px;
    cursor: pointer;
    transition: all 0.3s;

  }



  .activeItem {
    width: 100%;
    height: 100%;
  }

  .sliderButtons {
    max-width: 300px;
    position: relative;
    top: -31px;
    margin: 0 auto;

    @media screen and (max-width: 1096px) {
      top: 363px;
      left: 30px;
      max-width: 204px;
      width: 100%;
    }

    @media (min-width: 768px) {
      margin: 0;
    }

    .sliderArrows {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 17px;
      width: 100%;

      @media screen and (max-width: 758px) {
        justify-content: space-between;
      }

      @media (min-width: 768px) {
        justify-content: flex-start;
      }
    }
  }

  .prevButton,
  .nextButton {
    @include flex-center;
    background-color: #000000;
    border: 1px solid #ffffff;
    opacity: 0.3;
    border-radius: 50%;
    width: 44px;
    height: 44px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s, opacity 0.3s;

    &:hover {
      background-color: #4a4a4a;
      opacity: 0.5;
    }
  }

  .sliderDots {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-top: 20px;

    @media screen and (max-width: 1096px) {
      gap: 4px;
    }

    @media (min-width: 768px) {
      justify-content: flex-start;
    }
  }

  .dot {
    background: #ffffff;
    opacity: 0.2;
    width: 30px;
    height: 7px;
    cursor: pointer;
    border-radius: 25px;
    transition: opacity 0.3s;

    @media screen and (max-width: 1096px) {
      width: 15px;
      height: 3px;

      @media screen and (max-width: 758px) {
        width: 30px;
        height: 7px;
      }
    }

    &.activeDot {
      opacity: 1;
    }
  }
}



.imageContainer2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: end;
  gap: 20px;
  position: relative;
  z-index: 500;
}

.coverImage {
  // width: 100%;
  // height: auto;
  // max-width: 206px;
  // max-height: 178px;
  // object-fit: cover;

  &:nth-child(3) {
    grid-row: span 2;
    // min-height: 290px;
  }

  // &:nth-child(4) {
  //   order: 2;
  // }
  // &:nth-child(5) {
  //   order: 3;
  // }
}


.text {
  margin-top: 10px;
  color: #fff;
  font-size: 14px;
}

.activeItem {
  border-radius: 15px;
  backdrop-filter: blur(10px);
  border: 2px solid #ffffff80;
  box-shadow: 0px 0px 10px 5px #ffffff40 inset;

  &:nth-child(2) {
    clip-path: polygon(100% 100%, 0% 100%, 0% 1%, 55% 1%, 100% 43%);
  }
}

.activeImage {
  opacity: 1;
  backdrop-filter: blur(10px);
  box-shadow: 0px 0px 10px 5px #ffffff40 inset;
  border: 2px solid #ffffff80;
  background: #0c0c0c4d;


}

@media screen and (max-width: 1200px) {
  // .imageContainer2 {
  //   grid-template-columns: repeat(3, 1fr);
  // }
}

@media screen and (max-width: 900px) {
  .imageContainer2 {
    grid-template-columns: repeat(2, 1fr);
  }

  .coverImage:nth-child(3) {
    grid-row: auto;
    height: auto;
  }
}

@media screen and (max-width: 600px) {
  .imageContainer2 {
    grid-template-columns: 1fr;
  }

  .coverImage {
    max-width: 100%;
    height: auto;
  }
}