.ecosystem_All {
  margin-top: 143px;
  height: auto;

  @media screen and (max-width: 1426px) {
    margin: 43px 40px 0 40px;
  }

  @media screen and (max-width: 768px) {
    margin: 43px 20px 0 20px;
  }

  .ecosystem_text {
    display: flex;
    flex-direction: column;
    row-gap: 47px;

    @media screen and (max-width: 768px) {
      row-gap: 27px;
    }

    h1 {
      max-width: 739px;
      font-size: 52px;
      font-weight: 500;
      line-height: 61.2px;
      text-align: left;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      color: #161616;

      @media screen and (max-width: 768px) {
        font-size: 35px;
        line-height: 41.2px;
      }

      @media screen and (max-width: 480px) {
        font-size: 31px;
        line-height: 36.49px;
      }
    }

    p {
      max-width: 422px;
      opacity: 70%;
      font-size: 18px;
      font-weight: 400;
      line-height: 20.88px;
      text-align: left;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;

      @media screen and (max-width: 768px) {
        br {
          display: none;
        }
      }

      @media screen and (max-width: 480px) {
        font-size: 16px;
        line-height: 18.56px;
      }
    }
  }

  .ecosystem_container_image {
    position: relative;
    top: -150px;

    @media screen and (max-width: 1096px) {
      margin-top: -100px;
      top: 0;
    }

    @media screen and (max-width: 768px) {
      top: 0;
      margin-top: 40px;
    }

    .ecosystem_image {
      width: 100%;
      height: auto;

      @media screen and (max-width: 1400px) {
        position: unset;
        height: 100%;
      }
    }
  }
}