.topSlider {
    margin-top: 88px !important;
    width: 90%;
    height: auto;
    margin: 0 auto;
    @media screen and (max-width: 1279px) {
        margin-top: 90px;
    }
    h1 {
        text-transform: uppercase;
        font-size: 70px;
        font-weight: 300;
        line-height: 80.71px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        @media screen and (max-width: 1279px) {
            font-size: 50px;
            font-weight: 300;
            line-height: 57.65px;
            text-align: left;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
            @media screen and (max-width: 870px) {
                font-size: 38px;
                font-weight: 300;
                line-height: 43.81px;
                text-align: left;
                text-underline-position: from-font;
                text-decoration-skip-ink: none;
            }
        }
        span {
            font-size: 70px;
            font-weight: 400;
            line-height: 81.2px;
            text-align: left;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
            display: inline-block;
            margin-left: -35px;
            color: #ffffff;
            padding: 0 35px;
            background-color: green; /* Зелёный фон */
            clip-path: polygon(5% 0%, 100% 0%, 95% 100%, 0% 100%);
            @media screen and (max-width: 1279px) {
                font-size: 50px;
                font-weight: 300;
                line-height: 57.65px;
                text-align: left;
                text-underline-position: from-font;
                text-decoration-skip-ink: none;
                @media screen and (max-width: 870px) {
                    font-size: 38px;
                    font-weight: 300;
                    line-height: 43.81px;
                    text-align: left;
                    text-underline-position: from-font;
                    text-decoration-skip-ink: none;
                }
            }
        }
    }
    .topSliderFlex {
        display: flex;
        align-items: center;
        gap: 45px;
        max-width: 1380px;
        height: 598px;
        @media screen and (max-width: 1279px) {
            flex-direction: column-reverse;
            height: 100%;
        }
        .topSliderImage {
            position: relative;
            width: 100%;
            height: 100%;
            @media screen and (max-width: 1279px) {
                margin-top: 30px;
            }
            .topLogo {
                position: absolute;
                bottom: 30px;
                width: 100%;
                @media screen and (max-width: 1343px) {
                    bottom: 50px;
                    position: unset;
                }
            }
        }
    }

    .topSliderInner {
        max-width: 437px;
        width: 100%;
        display: flex;
        flex-direction: column;
        row-gap: 30px;
        @media screen and (max-width: 1279px) {
            flex-direction: column-reverse;
            max-width: 100%;
            justify-content: center;
        }
        h4 {
            text-transform: uppercase;
            font-size: 35px;
            font-weight: 500;
            line-height: 41.2px;
            text-align: left;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
            color: #191a1b;
        }
        p {
            opacity: 89%;
            font-size: 16px;
            font-weight: 400;
            line-height: 18.56px;
            text-align: left;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
            color: #161616;
            padding-top: 25px;
        }
        li {
            opacity: 89%;
            font-size: 16px;
            font-weight: 400;
            line-height: 18.56px;
            text-align: left;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
            color: #161616;
        }
    }
    .sliderButtons {
        display: flex;
        align-items: center;
        gap: 44px;
        width: 100%;
        margin-top: 13px;
        @media screen and (max-width: 1279px) {
            flex-direction: column-reverse;
            gap: 10px;
        }
        .sliderArrows {
            display: flex;
            align-items: center;
            gap: 17px;
            width: 100%;
            @media screen and (max-width: 1279px) {
                justify-content: space-between;
            }
        }
    }
    .prevButton,
    .nextButton {
        background-color: #f1f1f1;
        border: 1px solid #ccc;
        border-radius: 50%;
        width: 44px;
        height: 44px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        font-size: 18px;
    }
    .prevButton:hover,
    .nextButton:hover {
        background-color: #e0e0e0;
    }

    .sliderDots {
        display: flex;
        gap: 8px;
        margin-top: 20px;
        @media screen and (max-width: 1279px) {
            position: relative;
            top: -55px;
        }
    }

    .dot {
        background: #363636;
        opacity: 0.2;
        width: 44px;
        height: 7px;
        cursor: pointer;
        border-radius: 25px;
    }

    .activeDot {
        background: #000; /* Чёрный цвет для активной точки */
        opacity: 1;
    }
    // .rectangleContainer {
    //     position: relative;
    //     z-index: 1;
    //     max-width: 1414px;
    //     height: 744px;
  
    // }
}
.rectangle {
    max-width: 100%;
    height: auto;
    margin-top: 33px;
}