:root {
  --background: #ffffff;
  --foreground: #171717;
  --maxWidth: 1380px;
  --padding: 25px;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background: #f7f7f7;
}
body {
  color: var(--foreground);
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  font-family: var(--font-gilroy);
  -moz-osx-font-smoothing: grayscale;
}
button {
  font-family: var(--font-gilroy);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.ytp-title-text {
  display: none !important;
}
.ytp-overflow-icon {
  display: none !important;
}
.ytp-large-play-button ytp-button ytp-large-play-button-red-bg {
  background: #fff !important;
}
.ytp-impression-link {
  display: none !important;
}
.ytp-title-link yt-uix-sessionlink {
  display: none !important;
}
