.page {
    max-width: var(--maxWidth);
    padding-top: var(--padding);
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;

    @media screen and (max-width: 809px) {
        padding-top: 0;
        padding-bottom: 0;

        @media screen and (max-width: 600px) {
            width: 95%;
        }
    }
}