.Organizer_container {
    .Organizer_img {
        width: 100%;
        margin: 0 auto;
        height: auto;
    }

    .Organizer_text {
        display: grid;
        row-gap: 31px;
        margin: 102px 0 32px 0;
        max-width: 610px;

        @media screen and (max-width: 1432px) {
            margin-left: 40px;
            margin-right: 40px;

            @media screen and (max-width: 742px) {
                margin-left: 20px;
                margin-right: 20px;
                margin-top: 40px;
                row-gap: 25px;
            }
        }

        h1 {
            max-width: 610px;
            text-transform: uppercase;
            font-size: 52px;
            font-weight: 500;
            line-height: 61.2px;
            text-align: left;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
            color: #161616;

            @media screen and (max-width: 836px) {
                font-size: 35px;
                font-weight: 500;
                line-height: 41.2px;
                text-align: left;
                text-underline-position: from-font;
                text-decoration-skip-ink: none;

                @media screen and (max-width: 600px) {
                    font-size: 31px;
                    font-weight: 500;
                    line-height: 36.49px;
                    text-align: left;
                    text-underline-position: from-font;
                    text-decoration-skip-ink: none;
                    max-width: 349px;

                }

            }
        }

        p {
            opacity: 70%;
            font-size: 30px;
            font-weight: 400;
            line-height: 34.8px;
            text-align: left;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
            color: #191a1b;

            @media screen and (max-width: 836px) {
                font-size: 20px;
                font-weight: 400;
                line-height: 23.2px;
                text-align: left;
                text-underline-position: from-font;
                text-decoration-skip-ink: none;

                @media screen and (max-width: 600px) {
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 18.56px;
                    text-align: left;
                    text-underline-position: from-font;
                    text-decoration-skip-ink: none;

                }
            }
        }
    }

    .container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        max-width: 870px;
        gap: 15px;
        margin-top: 31px;

        @media screen and (max-width: 605px) {
            grid-template-columns: 1fr 1fr;

            @media screen and (max-width: 600px) {
                display: none;
            }
        }
    }

    .feature {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 279px;
        height: 242px;
        padding: 24px;
        border-radius: 20px;
        background: #F7F7F7;
        color: #000;
        text-align: left;
        border: 1px solid var(--dark-oppacity, #16161680);
        transition: all 0.3s ease-in-out;

        &:nth-child(1) {
            &:hover {
                background: #161616;
                color: #161616;
            }

            &:hover .icon img {
                filter: invert(1);
            }

            &:hover .text {
                color: #FF852C;
            }
        }


        &:nth-child(2) {
            &:hover {
                background: #DAFC79;
                color: #161616;
            }

            &:hover .icon img {
                // filter: invert(1);
            }

            &:hover .text {
                color: #161616;
            }
        }

        &:nth-child(3) {
            &:hover {
                background: #009910;
                color: #161616;
            }

            &:hover .icon img {
                filter: invert(1);
            }

            &:hover .text {
                color: #fff;
            }
        }

        &:nth-child(4) {
            &:hover {
                background: #D9D9D9;
                border: 1px solid #16161680
            }

            &:hover .icon img {}

            &:hover .text {
                color: #161616;
            }
        }

        &:nth-child(5) {
            &:hover {
                background: #FF852C;
                border: 1px solid #16161680
            }

            &:hover .icon img {}

            &:hover .text {
                color: #161616;
            }
        }

        &:nth-child(6) {
            &:hover {
                background: #252121;
                border: 1px solid #16161680
            }

            &:hover .icon img {
                filter: invert(1);
            }

            &:hover .text {
                color: #fff;
            }
        }

        @media screen and (max-width: 1265px) {
            border: none;
            border-radius: 20px;
            width: 100%;
            max-height: 143px;
            padding: 10px;
        }
    }

    .icon img {
        transition: all 0.3s ease-in-out;
        /* Плавный переход */
    }

    .text {
        font-size: 20px;
        font-weight: 600;
        line-height: 23.86px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: #161616;
        transition: all 0.3s ease-in-out;
        /* Плавный переход */

        @media screen and (max-width: 1265px) {
            font-size: 13px;
            font-weight: 500;
            line-height: 15.3px;
            text-align: left;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
        }
    }

    .container2 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        max-width: 870px;
        gap: 15px;
        margin-top: 31px;
        display: none;

        @media screen and (max-width: 605px) {
            grid-template-columns: 1fr 1fr;

            @media screen and (max-width: 600px) {
                display: grid;
            }
        }
    }

    .feature2 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 279px;
        height: 242px;
        padding: 24px;
        border-radius: 8px;
        color: #000;
        text-align: left;
        border: 1px solid #16161680;

        &:focus {
            transition: all 0.3s ease-in-out;
        }

        @media screen and (max-width: 1265px) {
            border: none;
            border-radius: 20px;
            width: 100%;
            max-height: 143px;
            padding: 10px;
        }
    }

    .icon2 {
        img {
            @media screen and (max-width: 965px) {
                width: 30px;
                height: 30px;
            }
        }
    }

    .text2 {
        font-size: 20px;
        font-weight: 600;
        line-height: 23.86px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: #161616;

        @media screen and (max-width: 1265px) {
            font-size: 13px;
            font-weight: 500;
            line-height: 15.3px;
            text-align: left;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;

        }
    }

    .Organizer_grid_fex {
        display: grid;
        grid-template-columns: 3fr 1fr;
        align-items: start;

        @media screen and (max-width: 1432px) {
            margin-left: 40px;
            margin-right: 40px;

            @media screen and (max-width: 742px) {
                display: flex;
                flex-direction: column-reverse;
                margin-left: 20px;
                margin-right: 20px;
            }
        }

        .Organizer_image {
            position: relative;

            @media screen and (max-width: 742px) {
                margin: 0 auto;
                width: 90%;
                max-width: 500px;
            }

            .image {
                position: absolute;
                bottom: 0;
                top: -260px;
                right: 0;
                left: -53px;

                @media screen and (max-width: 1080px) {
                    max-width: 317px;
                    height: auto;
                    top: -160px;

                    @media screen and (max-width: 742px) {
                        position: unset;
                        max-width: 100%;
                    }
                }
            }
        }
    }
}