.fieldBackground {
  position: relative;
  min-height: 100%;
  background-image: url("/backf.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 35px;
  margin-left: 20px;
  margin-right: 20px;
  top: -50px;

  @media screen and (max-width: 613px) {
    top: 0;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .field {
    max-width: 100%;
    height: 867px;
    position: relative;
    z-index: -10;

    @media screen and (max-width: 1400px) {
      height: auto;
      margin-left: 20px;
      margin-right: 20px;
    }
  }
}

.devicesWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}

.devices {
  position: absolute;
  bottom: 0;
  top: -30%;
  left: 40px;
  right: 0;
  z-index: 500;

  @media screen and (max-width: 1169px) {
    left: 0;
  }


  @media screen and (max-width: 1400px) {
    width: 100%;
    height: auto;
  }
}