.fieldBackground {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.fieldImage {
  width: 100%;
  height: 800px;
  object-fit: cover; // Масштабирует изображение, сохраняя пропорции
  object-position: center;
}


// .fieldOverlay {
//     position: absolute;
//     top: 0;
//     left: 0;
//     bottom: 0;
//     width: 100%;
//     height: 100%;
//     border-radius: 20px;
//     display: flex;
//     flex-direction: column;
//     justify-content: space-between;
//     overflow: hidden;
// }
// .devicesWrapper {
//     position: absolute;
//     bottom: 0;
//     top: 0;
//     display: flex;
//     justify-content: end;
//     align-items: center;

//     .device1 {
//         max-width: 473px;
//         height: auto;
//         position: relative;
//         right: 0;
//         bottom: 0;
//         top: 332px;
//         left: 0;
//     }
//     .device2 {
//         max-width: 473px;
//         position: relative;
//         right: 0;
//         bottom: 0;
//         top: 0;
//         left: 0;
//         height: auto;
//     }
//     .device3 {
//         max-width: 473px;
//         position: relative;
//         right: 0;
//         bottom: 0;
//         top: -322px;
//         height: auto;
//     }
// }